<footer class="site-footer">

  <div class="wrapper">

    <div class="site-description">
      <p>
        {{ site.description }}
        <span class="version">
          ({% fdroid_repo_info %}, fdroid-website <a href="https://gitlab.com/fdroid/fdroid-website/tree/{% git_hash %}">{% git_tag %}</a>)
        </span>
	<span class="edit-this-page-area">
	  <a href="https://gitlab.com/fdroid/fdroid-website/edit/master/{{page.relative_path}}">
	    Edit on GitLab
	  </a>
	</span>
      </p>
    </div>
  </div>

</footer>
